.header{
    font-size: 20px; 
    line-height: 1.5;
    margin: 60px auto ; 
}
.header span{
    display: block;
}
.form-header, .section-header{
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 20px;
}
.form{
    border: 5px solid #2727d7;
    padding: 30px 20px;
}
.form-btn{
    background-color:#2727d7;
    margin: 12px auto;
}
.form input{
    margin-bottom: 12px;
}
.section{
    padding: 30px;   
}
.feature{
    margin: 60px auto;
}
.feature p{
    margin-top: 20px;
}
.video{
    margin-bottom: 30px;
}
.body{
    background-color : black;
}
.section2{
    background-color: #fcb;   
}
html{
    background-color: #fcb;   
}
